/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

/*=============== VARIABLES ===============*/
:root {
  --header-height: 3.5rem;

  /* Colors */
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(28, 88%, 62%);
  --first-color-alt: hsl(28, 84%, 58%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --text-color-light: hsl(0, 0%, 65%);
  --black-color: hsl(0, 0%, 6%);
  --body-color: hsl(0, 0%, 6%);
  --container-color: hsl(0, 0%, 10%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --biggest-font-size: 3rem;
  --bigger-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 5rem;
    --bigger-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

button {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--bigger-font-size);
  font-family: var(--second-font);
  margin-bottom: 1.5rem;
  text-align: center;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header{
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
}

.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_logo{
    color:  hsl(28, 88%, 62%);
    font-size:1.25rem ;
    font-family: "Dancing Script", cursive ;
    transition: color.4s;
}

.nav_logo:hover{
    color: hsl(28, 84%, 58%) ;
}

.nav_toggle,
.nav_close{
    font-size: 1.5rem;
    color: var(--title-color);
    cursor:pointer;

}
/* Navigation for mobile devices */
@media screen and (max-width:1150px) {
    .nav_menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(0,0%,6%,0.2);
        backdrop-filter: blur(16px);
        width: 80%;
        height: 100%;
        padding: 6rem 3rem 0;
        transition: right .4s;

    }
}

.nav_list{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav_link{
    color: var(--title-color);
    font-weight:var(--font-semi-bold);
    transition:color .4s ;
}

.nav_link:hover{
    color: var(--first-color);
}

.nav_close,
.nav_img_1,
.nav_img_2{
    position: absolute;
}

.nav_close{
  top: 1rem;
  right: 1.5rem;
}

.nav_img_1{
  width: 80px;
  top: 11rem;
  right: 1rem; 
}

.nav_img_2{
  width: 60px;
  top: 20rem;
  left: 6rem;
}

/* Show menu */
.show-menu{
  right: 0;
}

/* Add blur header */
.blur-header::after{
content: '';
position: absolute;
width: 1000%;
height: 100%;
background-color: hsla(0,0%,6%,0.2);
backdrop-filter: blur(16px);
top: 0;
left: 0;
z-index: -1;
}

/* Active link */


/*=============== HOME ===============*/
.home{
  position: relative;
  padding-top: 6.5rem;
}
.home_container{
  row-gap: 2rem;
}

.home_bg,
.home_shadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:-1 ;
}

.home_bg{
  object-fit: cover;
  object-position: center;
}

.home_shadow{
  background: linear-gradient(180deg,
  hsla(0,0%,0%,0)0%,
  hsla(0,0%,6%)100%);
}

.home_data{
  position: relative;
  text-align: center;
}

.home_title{
  font-size:5rem ;
  font-family: "Dancing Script", cursive;
  margin-bottom: 1.5rem;
}

.home_bread{
  width: 50px;
  position: absolute;
  top: 15rem;
  left: 4rem;
}

.home_image{
  max-width: 40px;
  justify-self: center;
}

.home_image{
  rotate: 15deg;
}

@media screen and (max-width: 576px){
.home_image{
  display: none;
}    
}

.home_footer,
.home_location,
.home_social{
  display:flex;
}

.home_footer{
  justify-content: space-between;
  align-items: center;
}

.home_location{
  align-items: center;
  column-gap: .5rem;
}

.home_location i{
  font-size: 1.5rem;
  color: var(--title-color);
}

.home_location span{
  color:var(--title-color) ;
  font-size:.875rem ;
}

.home_social{
  column-gap: 1rem;
}

.home_social a{
  color: var(--title-color);
  font-size: 1.5rem;
  transition: color .4s;
}

.home_social a:hover{
  color: var(--first-color);
}

/*=============== BUTTON ===============*/
.button{
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.125rem 2rem;
  transition: background-color .4s;
}

.button:hover{
  background-color: var(--first-color-alt);
}


/*=============== FOOTER ===============*/
.footer{
  padding-block: 3rem 2rem;
}

.footer_container{
  position: relative;
  row-gap: 4rem;
}

.footer_logo{
  display: inline-block;
  color: var(--first-color);
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  margin-bottom: .5rem;
  transition: color .4s;
}

.footer_logo:hover{
  color: var(--first-color);
}

.footer_content{
  grid-template-columns: repeat(2,max-content);
  gap: 4rem 2rem;
}

.footer_title{
  font-size: var(--h3-font-size);
  margin-bottom: 1.25rem;
}

.footer_list{
  display: grid;
  row-gap:  .75rem;
}

.footer_info{
  font-style: normal;
}

.footer_social{
  display: flex;
  column-gap: 1rem;
}

.footer_social a{
  color: var(--text-color);
  font-size: 1.5rem;
  transition: color .4s;
}

.footer_social a:hover{
  color: var(--first-color);
}

.footer_img-1,
.footer_img-2{
  position: absolute;
}

.footer_img-1{
  width: 60px;
  top: 2.5rem;
  right: 1.5rem;
}

.footer_img-2{
  width: 70px;
  top: 17rem;
  right: 9rem;
}

.footer_copy{
  display: block;
  margin-top: 6rem;
  text-align: center;
  font-size: var(--small-font-size);
}



/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container{
    margin-inline: 1rem;
  }

  .home_title{
    font-size: 2.5rem;
  }

  .home_footer{
    flex-direction: column;
    row-gap: 2rem;
  }

  .footer_content{
    grid-template-columns: max-content;
  }
}

/* For medium devices */
@media screen and (min-width:576px) {
  .nav_menu{
    width: 50%;
  }

  .home_bread{
    left: -1rem;
  }

  .home_container,
  .about_container,
  .contact_container{
    grid-template-columns: 350px;
    justify-content: center;
  }

  
  .footer_content{
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (min-width:768px) {
  .home{
    padding-top: 7rem;
  }

  .home_container{
    grid-template-columns: repeat(2, 350px);
    align-items: center;
  }
  .home_image{
    max-width: initial;
    width: 350px;
  }
  .home_data{
    text-align: initial;
  }
  .home_footer{
    grid-column: 1/3;
  }

  .about_container{
    grid-template-columns: repeat(2, 350px);
    align-items: center;
  }
  .about_data{
    order: 1;
  }

  .about_data,
  .about_data .section__title{
    text-align: initial;
  }

 
  .footer_container{
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
  .footer_img-1{
    top: 6rem;
    .footer_img-2{
      top: 8rem;
    }
  }

}

/* For large devices */
@media screen and (min-width:1150px) {
.container{
  margin-inline: auto;
}  

.section{
  padding-block: 5rem 2rem;
}

.nav{
  height: calc(--header-height + 2rem);
}
.nav_toggle,
.nav_close,
.nav_img_1,
.nav_img_2{
  display: none;
}

.nav_menu{
  width: initial;
}
.nav_list{
  flex-direction: row;
  column-gap: 4rem;
}

.home_container{
  grid-template-columns: 470px 550px;
  column-gap: 3rem;
}

.home_title{
  margin-bottom: 2rem;
}
.home_bread{
  width: 80px;
  left: 18rem;
}
.home_image{
  max-width: initial;
  width: 500px;
}
.home_location i{
  font-size: 2rem;
}
.home_location span{
  font-size: var(--normal-font-size);
}
.home_social{
  column-gap: 1.5rem;
}
.home_footer{
  transform: translateY(-80px) ;
}

.about_container{
  grid-template-columns: 460px 430px;
  column-gap: 7rem;
}
.about_img{
  width: 450px; 
}
.about_bread{
  width: 90px;
  bottom: -3rem;
  right: 4rem;
}


.contact_container{
  padding-block: 4rem;
}
.footer_content{
  grid-template-columns: 480px;
}

.footer{
  padding-block: 5rem 3rem;
}
.footer_logo,
.footer_title{
  margin-bottom: 1.5rem;
}
.footer_content{
  column-gap: 4.5rem;
}
.footer_social{
  column-gap: 1rem;
}
.footer_img-1{
  width: 90px;
  right: initial;
  left: 15rem;
}
.footer_img-2{
  width: 90px;
  left: initial;
  right: 7rem;
}
.footer_copy{
  margin-top: 8rem;
}

}